@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf");
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Open Sans";
  margin: 0;
  border: 0;
  padding: 0;
}

.welcome {
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: 35px 20px 85px;
}

@media (max-width: 640px) {
 .welcome {
   background-image: url("../images/football_767.jpg");

   }
}
 
.welcome::after {
  content: "";
  background-color: #0f0636;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.85;
}

.container {
  position: relative;
  z-index: 2;
}

.container-logo-text {
  display: flex;
}

.link-logo-text {
  width: 135px;
  margin: auto;
}

.logo-text {
  fill: #ffffff;
}

.container-welcome-title {
  display: flex;
  flex-wrap: wrap;
  margin: 135px auto 0px; 
}

.welcome-title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 25px;
  margin: auto;
}

.title {
  display: block;
  width: 12em;
}

.title:last-child {
  box-sizing: border-box;
  padding: 22px 50px;
}


.container-services {
  flex-wrap: wrap;
  margin: 85px auto 0;
}

.services {
  text-transform: uppercase;
  font-size: 10px;
  padding: 0;
  width: 100%;
}

.service-item {
  border-radius: 23px;
  background-color: #5c3eb2;
  margin-top: 14px;
  padding: 5px;
}

.service-content {
  display: flex;
  justify-content: center;
}

.services-img {
  width: 25px; 
  margin-right: 5px;
  fill: #ffffff;
}

.service-info{
  width: 100px;
}

.service-link {
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
}

.service-link-appstore {
  
}

.service-link-description {
 display: block;
}

.service-name {
  font-weight: 700;
   display: block;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.service-link-googleplay {

}

.main {

}

.container-branch{
  
}

.branch {
  display: flex;
  flex-wrap: wrap;
}

.container-branch-heading {
   padding: 20px;
}

.branch-heading {
  text-transform: uppercase;
  color: #e8e8e8;
  font-size: 56px;
  margin: 0;
}

.branch-preview {
  margin: auto;
}

.branch-img {

}

.purpose {
  padding: 20px;
}

.connection {

}

.container-branch-subheading {
  display: flex;
}

.branch-reference {
  font-weight: 700;
  margin-right: 7px;
  padding: 4px;
  color: #000000;
}

.branch-reference::after {
  content: "";
  display: block;
  background-color: #5e44af;
  margin: auto;
  height: 4px;
  width: 15px;
}

.branch-reference-growth::after {
  content: "";
  display: block;
  background-color: #ffffff;
  margin: auto;
  height: 4px;
  width: 15px;
}

.branch-reference-growth-player {
  color: #5e44af;
}

.branch-subheading, .guide-heading {
  text-transform: uppercase;
  color: #c9c9c9;
  font-size: 25px;
  margin: 0;
}

.branch-description {

}

.collaboration {
   background-color: #f4f3f8;
}

.growth-player {
  background-color: #080a33;
  color: #ffffff;
}

.growth-athlete {
  background-color: #5c3eb2;
  color: #ffffff;
}

.container-guide {

}

.guide {
 
}

.guide-preview {
  
}

.guide-img {
  width: 100%;
}

.container-guide-description {
  position: relative;
}

.container-guide-reference {
  position: absolute;
  top: -60px;
  left: 20px;
  width: 70px;
  height: 70px;
  background-color: #5c3eb2;
  display: flex;
}

.guide-reference {
  font-weight: 700;
  margin: auto;
  color: #ffffff;
}

.guide-reference::after {
  content: "";
  display: block;
  background-color: #8c74c2;
  margin: auto;
  height: 4px;
  width: 15px;
}

.guide-info {
  padding: 20px;
}

.container-guide-heading {

}

.guide-description {

}

.footer {
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: 100px 20px 10px;
}

@media (max-width: 640px) {
 .footer {
   background-image: url("../images/game_767.jpg");

   }
}
 
.footer::after {
  content: "";
  background-color: #0f0636;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.85;
}

.container-footer {
  position: relative;
  z-index: 2;
}

.container-logo {
  display: flex;
}

.link-logo {
  border-radius: 23%;
  background-color: #553894;
  width: 74px;
  height: 74px;
  margin: auto;
  display: flex;
}

.logo {
  fill: #ffffff;
  width: 57px;
  margin: auto;
}

.motto {
  margin: 60px 0;
}

.motto-show, .motto-download {
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.motto-download {
  color: #ffffff;
  font-weight: 700;
  font-size: 32px;
}

.motto-show {
  color: #a69ec7;
  font-weight: 700;
  font-size: 14px;
}

.container-logo-text-footer {
  margin-top: 80px;
}
