@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf");
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Open Sans";
  margin: 0;
  border: 0;
  padding: 0;
}

.welcome {
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: 35px 20px 85px;
  font-size: 10px;
}

@media (max-width: 640px) {
 .welcome {
   background-image: url("../images/football_767.jpg");
   }
}

@media (min-width: 641px) and (max-width: 960px) {
 .welcome {
   background-image: url("../images/football_1280.jpg");
   }
}

@media (min-width: 961px) {
 .welcome {
   background-image: url("../images/football_1920.jpg");
   }
}
 
.welcome::after {
  content: "";
  background-color: #0f0636;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.85;
}

.container {
  position: relative;
  z-index: 2;
}

.container-logo-text {
  display: flex;
}

.link-logo-text {
  width: 135px;
  margin: auto;
}

.logo-text {
  fill: #ffffff;
}

.container-welcome-title {
  display: flex;
  flex-wrap: wrap;
  margin: 135px auto 0px; 
}

.welcome-title {
  color: #ffffff;
  text-transform: uppercase;
  margin: auto;
}

.title {
  display: block;
  margin: auto;
  width: 10em;
}


.title:last-child {
  box-sizing: border-box;
}

@media (max-width: 640px) {

.welcome-title {
  font-size: 2.5em;
  }

.title:last-child {
  padding: 22px 0 0 40px;
}
}

@media (min-width: 641px) and (max-width: 960px) {

.welcome-title {
  font-size: 4.5em;
  }

.title:last-child {
  padding: 10px 0 0 70px;
}
}

@media (min-width: 961px) {

.welcome-title {
  font-size: 4.5em;
  }

.title:last-child {
  padding: 10px 0 0 70px;
  }

.title {
  width: 100%;
  }
}

.container-services {
  margin: 85px auto 0;
}

.services {
  text-transform: uppercase;
  font-size: 10px;
  padding: 0;
}

.service-item {
  
  background-color: #5c3eb2;
  margin-top: 14px;
}

.service-content {
  display: flex;
  justify-content: center;
}

.services-img {
  width: 25px; 
  margin-right: 5px;
  fill: #ffffff;
}

.service-info{
  width: 100px;
}

.service-link {
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
}

.service-link-appstore {
  
}

.service-link-description {
 display: block;
}

.service-name {
  font-weight: 700;
  display: block;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.service-link-googleplay {

}

@media (max-width: 640px) {
  .services {
  width: 100%;
  }

  .service-item {
  border-radius: 23px;
  padding: 5px;
  }

  .services-img {
  margin-right: 5px;
  }
}

@media (min-width: 641px) and (max-width: 960px), (min-width: 961px) {

.services {
  display: flex;
  justify-content: center;
  }

.service-item {
  border-radius: 30px;
  padding: 15px 40px;
  margin-right: 15px;
  }

.services-img { 
  margin-right: 15px;
  }
}


.main {

}

.container-branch{
  
}

.branch {
  display: flex;
  flex-wrap: wrap;
}

.container-branch-heading {
  font-size: 10px;
}

.branch-heading {
  text-transform: uppercase;
  color: #e8e8e8;
  margin: 0;

}

.branch-preview {
  
}

.branch-img {

}

.purpose {
  padding: 20px;
  width: 100%;
}

.connection {

}

.container-branch-subheading {
  display: flex;
  font-size: 10px;
}

.branch-reference {
  font-weight: 700;
  margin-right: 7px;
  padding: 4px;
  color: #000000;
}

.branch-reference::after {
  content: "";
  display: block;
  background-color: #5e44af;
  margin: auto;
  height: 4px;
  width: 15px;
}

.branch-reference-growth::after {
  content: "";
  display: block;
  background-color: #ffffff;
  margin: auto;
  height: 4px;
  width: 15px;
}

.branch-reference-growth-player {
  color: #5e44af;
}

.branch-subheading, .guide-heading {
  text-transform: uppercase;
  color: #c9c9c9;
  margin: 0;
}

.branch-description {

}

.collaboration {
   background-color: #f4f3f8;
}

.growth-player {
  background-color: #080a33;
  color: #ffffff;
}

.growth-athlete {
  background-color: #5c3eb2;
  color: #ffffff;
}

@media (max-width: 640px) {

.container-branch-heading {
  padding: 7%;
  width: 100%
  }

.branch-heading {
  font-size: 5.6em;
  }

.branch-reference {
  font-size: 1.4em;
  }

.branch-subheading, .guide-heading {
  font-size: 2.5em;
  }

.container-branch-preview {
  margin: auto;
  }
}

@media (min-width: 641px) and (max-width: 960px) {

.branch-heading {
  font-size: 6.4em;
  }

.container-branch-heading-athlets {
   margin-left: 38%;
   padding: 70px 0 0 ;
  }

.branch-reference {
  font-size: 1.4em;
  }

.branch-subheading, .guide-heading {
  font-size: 2.5em;
}

.container-branch-preview-athlete {
  position: relative;
  }

.branch-preview-athlete {
  position: absolute;
  top: 65px;
  left: -740px;
  }

.container-purpose-athlets {
  padding: 0px 7% 0 38%;
  }

.container-branch-heading-players {
  padding: 60px 40px 0;
  }

.branch-players {
  position: relative;
  }

.branch-preview-players {
  position: absolute;
  top: -20px;
  right: -1px;
  }

.container-purpose-players {
  padding: 0 45% 0 20px;
  }
}

@media (min-width: 961px) {

.branch-heading {
  font-size: 7.4em;
}

.container-branch-heading-athlets {
   margin-left: 50%;
   padding: 100px 0 20px 0;
  }

.branch-reference {
  font-size: 1.7em;
  }

.branch-subheading, .guide-heading {
  font-size: 3.2em;
}

.container-branch-preview-athlete {
  position: relative;
  }

.branch-preview-athlete {
  position: absolute;
  top: 10px;
  right: 350px;
  }

.container-purpose-athlets {
  padding: 36px 15% 0 50%;
  }

.container-branch-heading-players {
  padding: 100px 40px 0 11%;
  }

.branch-players {
  position: relative;
  overflow:hidden; 
  }

.purpose-players {
  padding: 55px 20px;
}

.branch-preview-players {
  position: absolute;
  top: 0;
  left: 45%;
  }

.container-purpose-players {
  padding: 0 50% 0 10%;
  }
}

.guide-preview {
  
}

.guide-img {
  width: 100%;
  height: 100%;
}

.container-guide-description {
  position: relative;
}

.container-guide-reference {
  position: absolute;
  top: -60px;
  left: 20px;
  width: 70px;
  height: 70px;
  background-color: #5c3eb2;
  display: flex;
}

.guide-reference {
  font-weight: 700;
  margin: auto;
  color: #ffffff;
}

.guide-reference::after {
  content: "";
  display: block;
  background-color: #8c74c2;
  margin: auto;
  height: 4px;
  width: 15px;
}

.guide-info {
  padding: 20px;

}

.container-guide-heading {

}

.guide-description {

}

@media (min-width: 961px) {

.guide {
  display: flex;
  } 

.guide:nth-child(2n + 2) {
  flex-direction: row-reverse;
  } 

.guide-preview {
  width: 50%;
  }

.container-guide-description {
  position: relative;
  width: 50%;
  padding: 150px 0 0;
  }

.container-guide-reference {
  top: 150px;
  left: -45px;
  right: auto;
  width: 100px;
  height: 100px;
  }

.guide:nth-child(even) .container-guide-reference {
  left: auto;
  right: -45px;
  }

.guide-info {
  padding: 0 80px 0;
  }
}

.footer {
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: 100px 20px 10px;
}
 
.footer::after {
  content: "";
  background-color: #0f0636;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.85;
}

.container-footer {
  position: relative;
  z-index: 2;
}

.container-logo {
  display: flex;
}

.link-logo {
  border-radius: 23%;
  background-color: #553894;
  width: 74px;
  height: 74px;
  margin: auto;
  display: flex;
}

.logo {
  fill: #ffffff;
  width: 57px;
  margin: auto;
}

.motto {
  font-size: 10px;
}

.motto-show, .motto-download {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.motto-download {
  color: #ffffff;
}

.motto-show {
  color: #a69ec7;
}

.container-logo-text-footer {
  margin-top: 80px;
}

@media (max-width: 640px) {

.footer {
  background-image: url("../images/game_767.jpg");
  }

.motto {
  margin: 60px 0;
}

.motto-download {
  font-size: 3.2em;
  }

.motto-show {
  font-size: 1.4em;
  }
}

@media (min-width: 641px) and (max-width: 960px) {

.footer {
  background-image: url("../images/game_1280.jpg");
  }

.motto {
  margin: 60px 0 200px;
}

.motto-download {
  font-size: 6.5em;
  }

.motto-show {
  font-size: 2.4em;
  }
}

@media (min-width: 961px) {

.footer {
  background-image: url("../images/game_1920.jpg");
  }

.container-logo-motto {
  display: flex;
  justify-content: center;
  }

.motto {
  margin: 20px;
  }

.motto-download {
  font-size: 4.5em;
  }

.motto-show {
  font-size: 1.7em;
  text-align: left;
  }

.container-logo-text-footer {
  margin-top: 120px;
  }
}